name: "push"

on: push

jobs:
  qemux86:
    name: "qemux86 with standard options"
    env:
      MACHINE: qemux86

    runs-on: ubuntu-22.04

    strategy:
      matrix:
        module: [
                  auto-inherit,
                  hashdog,
                  kconfig-sanity,
                  layer-safety,
                  license-report,
                  python3-package-ident,
                  python-speedups,
                  rm_orphans,
                  rootfs-chart,
                  swinventory,
                  upstream-check,
                  license-check
                  ]
        branch: [dunfell, gatesgarth, hardknott, kirkstone, langdale, mickledore, nanbield, scarthgap, styhead, master]

    steps:
      - uses: actions/checkout@v5
        with:
          ref: master
      - name: Update APT
        run: sudo apt-get update
      - name: Install Dependencies
        run: sudo apt-get -yq --no-install-suggests --no-install-recommends install build-essential chrpath diffstat gawk gcc-multilib git-core libsdl1.2-dev socat texinfo unzip wget xterm
      - uses: actions/setup-python@v6
      - name: Check out oe-core
        run: git clone https://github.com/openembedded/openembedded-core.git -b ${{ matrix.branch }} openembedded-core
      - name: Check out bitbake
        run: git clone https://github.com/openembedded/bitbake.git bitbake
      - name: Setup poky
        run: source openembedded-core/oe-init-build-env
      - name: add meta-buildutils
        run: |
          source openembedded-core/oe-init-build-env
          bitbake-layers add-layer $(pwd)/..
      - name: prepare local.conf
        run: |
          source openembedded-core/oe-init-build-env
          echo 'INHERIT += "${{ matrix.testset }}"' >> conf/local.conf
      - name: Bitbake parse
        run: |
          source openembedded-core/oe-init-build-env
          bitbake -p
          
